<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	{{#stylesheets}}
	<link rel="stylesheet" type="text/css" href="{{.}}" />
	{{/stylesheets}}
	{{#javascripts}}
	<script type="text/javascript" src="{{.}}"></script>
	{{/javascripts}}
</head>
<body>
    <div id="index" class="collapsed">
        <a id="toggl