<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	{{#stylesheets}}
	<link rel="stylesheet" type="text/css" href="{{.}}" />
	{{/stylesheets}}
	{{#javascripts}}
	<script type="text/javascript" src="{{.}}"></script>
	{{/javascripts}}
</head>
<body>
    <div id="index" class="collapsed">
        <a id="toggle" href="###" onclick="window.toggleTreeVisibility()">Show Index</a>
        {{{index}}}
    </div>
    <div id="content">
        {{{content}}}
    </div>
    <script type="text/javascript">
        SyntaxHighlighter.config.tagName = 'code';
        SyntaxHighlighter.all()
    </script>
    <script t